[2021-06-09 15:10] lihsaa591 opened #1 "Component not defined"
Hello, Thank you for making this stepper for chakra-UI.

I am getting errors on ResetPrompt and StepButtons is not defined. I am trying to use stepper from your example.

[2021-06-09 16:26] jeanverster commented on #1
Hi @lihsaa591 unfortunately those components do not get bundled with the library, they were custom components I made for demonstration purposes. The user should be responsible for handling the UI which navigates the steps. However here is the code for those components:

`ResetPrompt.tsx`
[code]

`StepButtons.tsx`
[code]

[2021-06-10 03:26] lihsaa591 commented on #1
Ohh.. Thanks a lot for this :)

[2021-06-10 04:40] #1 closed

[2021-06-10 12:58] TheHoltz opened #2 "Gray background color on steps"
Hi! The horizontal steps when resized to mobile has this gray background, I'm not sure if is a feature or a bug, but is there a way to disable it? Thank you!

Horizontal on Mobile | Vertical on Mobile
--- | ---
![image](https://user-images.githubusercontent.com/38303017/121525799-24ef2e00-c9cf-11eb-8d06-8834bbbe6cb8.png) | ![image](https://user-images.githubusercontent.com/38303017/121525832-2d476

[2021-06-10 13:14] jeanverster commented on #2
Hey @TheHoltz - this is definitely not an intended feature 😅 I will have a look at this soon and release a patch, thanks for pointing it out!

[2021-06-10 15:00] jeanverster commented on #2
Fixed by #3

[2021-06-10 15:00] #2 closed

[2021-06-10 15:11] jeanverster commented on #2
Hey @TheHoltz this fix is available in version 1.0.3 👍🏼

[2021-06-15 10:14] JanKups opened #4 "Duplicate steps in vertical demo"
The demo has a duplicate <Steps> component on the vertical example.

[code]

Thanks for the awesome work 🙌

[2021-06-30 20:23] kkeval opened #6 "Add support for React javascript (right now it is only typescript)"

[2021-06-30 21:12] jeanverster commented on #4
This has been addressed, thanks for pointing it out!

[2021-06-30 21:12] #4 closed

[2021-06-30 21:13] jeanverster commented on #6
Hey @kkeval could you be more specific? Are you referring to the docs, or the library itself that doesn't work in a javascript project? AFAIK it should work fine in regular javascript projects 🤷🏼‍♂️

[2021-07-01 04:51] kkeval commented on #6
Add docs/ guide for JavaScript or React I'm not familiar with typescript and also
There is no code for ```
<StepsButton/>
[code]
<ResetButton/>
[code]

[2021-07-01 13:06] jeanverster commented on #6
Yeah I can have a look at implementing this, thanks for the suggestion!

[2021-07-07 16:19] kkeval commented on #6
Cool, waiting for it!

[2021-07-07 16:19] #6 closed

[2021-07-07 16:19] kkeval commented on #6
closed

[2021-07-13 13:01] davidcedresx opened #10 "Lazyness behaviour on vertical vs horizontal mode"
Hi, thank you for such a great component I truly love it.

I have been using it on my desktop just fine, right now I am putting some focus on responsiveness and I found that the stepper will become vertical by default which is great, the issue is that every render function for every step triggers immediately, on the horizontal mode they just trigger when you reach that step.

Sandbox which replica

[2021-07-14 06:44] jeanverster commented on #10
Hi @davidcedresx - thanks for pointing this out, will try have a look asap 👌🏼

[2021-07-14 08:08] jeanverster commented on #10
hey @davidcedresx I've updated the behaviour to only mount the content component when the step is active, I believe this this is the desired behaviour. Will create a release with this update soon. It just occurred to me that it could be nice to have this `lazy` behaviour controlled by a prop 😅  Think I will add this in too at some stage

[2021-07-14 08:08] #10 closed

[2021-07-14 09:24] jeanverster commented on #10
Available in 1.1.2

[2021-07-23 05:40] kotoyama opened #13 "Bug in Safari"
Hi, thanks for your work!
I found a markup bug in mobile Safari.

![photo_2021-07-23_10-35-42](https://user-images.githubusercontent.com/26006369/126741466-9d75a9f1-cc00-4ac7-96fe-3cd42bfaff92.jpg)
![photo_2021-07-23_10-35-41](https://user-images.githubusercontent.com/26006369/126741473-791775ee-d91c-42ea-ad82-2adf524eca3e.jpg)

[2021-07-23 06:12] jeanverster commented on #13
Hi @kotoyama - is there any chance you could be seeing a cached version? I've just had a look on my device and it all seems ok 🤷🏼‍♂️

![image](https://user-images.githubusercontent.com/17738943/126743700-1da721d8-ccd1-427f-8d74-0577f0e6c090.png)

[2021-07-23 06:14] jeanverster commented on #13
I remember that was a bug in one of the earlier versions but I think it has since been fixed

[2021-07-23 06:21] kotoyama commented on #13
@jeanverster no, this issue is also available in my app build
![photo_2021-07-23_01-20-25](https://user-images.githubusercontent.com/26006369/126744333-f7927f5e-48f2-4e77-9c8a-e31b2f12c855.jpg)

[2021-07-23 06:23] kotoyama commented on #13
I remember a similar problem and I upgraded. Looks like this bug remains in Safari.

[2021-07-23 07:14] jeanverster commented on #13
Hmmm, ok I will have a look. What version of iOS are you currently running?

[2021-07-23 07:15] jeanverster commented on #13
And what version of `chakra-ui-steps` are you using in your app?

[2021-07-23 07:21] kotoyama commented on #13
iOS: 13.5.1
chakra-ui-steps: ^1.0.3

[2021-07-23 07:22] jeanverster commented on #13
Thanks! Will keep you updated

[2021-07-23 07:45] jeanverster commented on #13
@kotoyama can you install latest version (1.1.3) and see if the issue has been resolved?

[2021-07-23 07:55] kotoyama commented on #13
Yeah it's cool! Thank you :)

[2021-07-23 07:56] #13 closed

[2021-07-29 18:15] jsbroks opened #17 "Option to customize the CheckIcon"

[2021-07-29 20:09] jsbroks opened #18 "In vertical mode it would be nice if the step was full width"
![image](https://user-images.githubusercontent.com/24920936/127559058-8f3275c4-03e8-4c4c-a9b7-06ad6b842c4b.png)

[2021-07-30 08:07] jeanverster commented on #18
Hey @jsbroks - would passing `width="100%"` to the `Step` component not work in this case? Both the `Step` and `Steps` components should accept all the default chakra styling props

[2021-07-30 08:10] jeanverster commented on #17
Yeah I've thought about this - happy to make it customizable, will try work on it when I get a gap this weekend 👍🏼

[2021-07-30 12:57] jsbroks commented on #18
Swt the width does not fix this issue. It looks like step is wrapped inside another div

[2021-08-01 19:40] jeanverster commented on #17
@jsbroks in v1.3.0 you can now use the `checkIcon` prop on the `Steps` component to render a custom check icon:
[code]

[2021-08-01 19:40] jeanverster commented on #18
Fixed in v.1.3.0

[2021-08-02 03:54] jsbroks commented on #18
Youre amazing! 👏

[2021-08-02 03:54] #18 closed

[2021-08-02 03:54] #17 closed

[2021-08-03 11:15] lihsaa591 opened #21 "Need step label on center"
I need to move the step label on the centre but I don't know how to do that.
![2021-08-03_16-59](https://user-images.githubusercontent.com/81949431/128006361-a3603e5d-5b78-4368-909c-6fe7c52a9c47.png)

[2021-08-03 11:57] jeanverster commented on #21
Hi @lihsaa591 this is currently not supported, but I will be happy to add it when I have a gap 👍🏼

[2021-08-04 19:20] jsbroks opened #22 "Color scheme steps inside a modal"
In a modal, the stepper form doesn't work well.

What is the suggested or best option for different color schemes? Or maybe using `blackAlpha`/`whiteAlpha` would be a better option than gray.

![image](https://user-images.githubusercontent.com/24920936/128241941-1436d8f1-3332-4681-be28-202f29b6d738.png)

[2021-08-06 04:28] devioand commented on #21
@jeanverster  When this feature will be available to center the label

[2021-09-13 20:58] dariusj18 opened #24 "Using vertical orientation, "Cannot read properties of undefined (reading 'width')""
I tried doing using the vertical orientation and even used the code from https://jeanverster.github.io/chakra-ui-steps-site/ however I get the error

[code]

[2021-09-14 14:04] jeanverster commented on #24
Hey @dariusj18 have you followed the instructions in the readme to extend the chakra theme with the provided `StepsStyleConfig` before using the component? I suspect that might be the issue:
[code]

[2021-09-14 14:48] dariusj18 commented on #24
I did not see that, I ended up backing off using this for the moment so I don't have a place to test it, but that is probably it.

[2021-09-14 14:48] #24 closed

[2021-09-22 23:02] ken-muturi opened #25 "Add support for clickable steps"
Add support for clickable steps. ie Click on step number/icon to toggle through the steps as an addition to the prev/next buttons.

[2021-09-23 10:54] Temidayomichael commented on #25
You can add a Button Icon as custom icon then do onClick to prev or next step functions provided.

[2021-09-23 11:14] Temidayomichael opened #26 "Steps container"
Hi thanks for the very useful tool, how can I hide the "1,2,3" strap header please ![image](https://user-images.githubusercontent.com/51400490/134497569-525a88de-185b-4ac2-89d6-5cff52113b02.jpeg)

[2021-09-23 12:53] jeanverster commented on #26
Hi @Temidayomichael i'm not sure I understand, do you want to hide the entire steps header? Or change the numbers?

[2021-09-23 12:53] jeanverster commented on #25
@ken-muturi have been meaning to implement this, will try get around to it asap..

[2021-09-23 12:56] Temidayomichael commented on #26
I want to hide the entire header

[2021-09-23 13:15] jeanverster commented on #26
If you want to hide the header you will only be able to do so with the stepper in `horizontal` orientation, and you can do so by overriding the default `steps` styles like this:
[code]

[2021-09-23 13:15] #26 closed

[2021-09-24 07:50] ken-muturi commented on #25
cool, we shall be waiting.

[2021-09-24 07:51] ken-muturi commented on #25
mhh interesting; let me try it out.

[2021-10-27 18:51] kkkasio opened #27 "How to modify the default style"
Hi! I really liked this addon!
I have a doubt about the customization of styles, following the chakra documents and as the library is created for the lib, I think I should follow the "theme edit" of the chakra itself...

Searching in some items of the author necessarily the following option.
`const Steps = {
  ...StepsStyleConfig,
  baseStyle: {
    // change styles here...
  },
};`
Example.
![ima

[2021-11-04 18:23] pianomansam commented on #27
This will soon be possible https://github.com/jeanverster/chakra-ui-steps/pull/23

[2021-11-04 20:11] anton-johansson opened #29 "Alternative strategy for checks"
I would like to have something like GitHub has in their steps, see images below. Essentially, the difference is that the final step is the actually completion. So when you **reach** it, we're done. I want to show a check only on the last step, and I want to have the background filled when you reach that step, not when it completes.

I looked at the options available, and it doesn't look like it's

[2021-11-04 20:31] jeanverster commented on #27
Hey @kkkasio I have just released a new version `1.4.0` which fixes the error you're seeing above. Previously, any style customization would completely overwrite the existing styles, in the new version you should be able to customise any of the "parts" while still maintaining the original styles. For a list of the parts please see [here](https://github.com/jeanverster/chakra-ui-steps/blob/a11db0a4

[2021-11-04 20:31] #27 closed

[2021-11-04 20:37] jeanverster commented on #25
@ken-muturi this has been added in v.1.4.0  - please note you will need to update your chakra version to at least 1.6.7 in order for the new version to work, sorry for the inconvenience. See clickable steps example below:

[code]

[2021-11-04 20:37] #25 closed

[2021-11-04 21:05] jeanverster commented on #29
Hey @anton-johansson thanks for pointing this out, although you can't replicate the steps as they are there exactly yet - you could do something quite similar by using custom icons and tricking it into completing before the last step.. See code sandbox below with an example:

https://codesandbox.io/s/blissful-shannon-4xr5d

Let me know if this will work for your use case

[2021-11-04 21:59] anton-johansson commented on #29
Hey @jeanverster, thanks for the quick reply!

I would say that it's not optimal, because it kind of looks like you complete two steps at once. However, I would also say that it is good enough **for now**. :D I would love to see some options for improving it. Do you think it's something that you would want in this library?

[2021-11-15 02:25] dcsan opened #35 "`ResetPrompt` and `StepButtons` ?"
in the demo, where do you get the navigation buttons from?

`ResetPrompt` and `StepButtons` ?

I was going to add basic buttons but it seems they have specific methods required...

[code]

[2021-11-15 02:30] dcsan commented on #35
btw thanks for the component, it's neat!

oh i found them in the storybook example

https://github.com/jeanverster/chakra-ui-steps/blob/a07eff0f8e021c925fbf6aefa2aca0a4ac6e9971/stories/Steps.stories.tsx

and now i see someone else had the same question
https://github.com/jeanverster/chakra-ui-steps/issues/1

you might want to make that clearer? without those buttons the component isn't functional

[2021-11-15 09:43] jeanverster commented on #35
Hey @dcsan - yeah this has come up a couple times, I think the reason why I opted to make those into their own components was purely for brevity in the examples, but I get that it's confusing. The idea is that the user is responsible for calling the `nextStep` and `prevStep` methods from the `useSteps` hook themselves to allow for more flexibility.. I think I will update the examples so that they

[2021-11-15 15:41] jeanverster commented on #35
I have updated the examples on the demo site to use only chakra components

[2021-11-15 15:41] #35 closed

[2021-11-26 08:26] cmolendijk opened #36 "Stepper always horizontal on initial load"
When loading on a smaller screen. The initial load is always in horizontal mode.
![image](https://user-images.githubusercontent.com/2002959/143549883-3b554595-0534-4b88-8657-84798ed69f81.png)

When changing orientation of the device to horizontal and then to vertical again. Then the stepper goes into vertical orientation.
![image](https://user-images.githubusercontent.com/2002959/143550029-fb2dde5

[2021-11-26 08:36] jeanverster commented on #36
Hi @cmolendijk - I can't seem to reproduce the issue? Which device size are you testing on? On the demo site I am getting vertical on first load on most mobile devices in portrait orientation

[2021-11-26 08:59] jeanverster commented on #36
Another question, are you using SSR in your app?

[2021-11-29 14:19] preludeofme opened #37 "Cannot read properties of undefined (reading 'borderColor')"
Getting the following error when using this library with Nextjs/typescript:

Cannot read properties of undefined (reading 'borderColor')

error occurs on file: chakra-ui-steps\dist\chakra-ui-steps.esm.js

![image](https://user-images.githubusercontent.com/27815916/143883540-fd2a649a-3bb6-42ec-ac68-f20fe51b0476.png)

If I add the commented code it "fixes" it for me, but that's just to get the error

[2021-12-03 15:10] c0rdeiro commented on #37
can you guys hotfix this bug?

[2021-12-03 15:17] jeanverster commented on #37
Yeah I will look into this after work today 👍🏼 Sorry for the delay!

[2021-12-05 07:35] jeanverster commented on #37
Hey @preludeofme - I just tried in a fresh next project with no issues. Did you extend the chakra theme with the steps styles like in the readme?
[code]

[2021-12-07 07:47] jeanverster commented on #37
Closing this as I'm fairly certain it will be fixed by adding the styles config as mentioned above, let me know if it still doesn't work

[2021-12-07 20:29] c0rdeiro commented on #37
Well I had the styles added but had some others that might be confliting, I dont know.
I just downgraded the version to 1.3.0 and got it to work

[2021-12-07 20:44] preludeofme commented on #37
sorry i missed the response. yeah i had the theme added and still got the error. I'm not sure if i was missing anything else but i followed the documentation on my app.

[2021-12-08 07:30] jeanverster commented on #37
@preludeofme @c0rdeiro would it be possible for you to provide me with a sample repo / codesandbox which reproduces the error? I'm struggling to reproduce it on my side

[2021-12-08 15:57] preludeofme commented on #37
I'll put together something tonight for you

[2021-12-15 08:45] OleksandrFomin commented on #37
I managed to make it work in the following way

`
// stepper.ts

import { StepsStyleConfig as Steps } from 'chakra-ui-steps';

export const Stepper = {
    ...Steps,
    variants: {
        brand: {
            stepIconContainer: {
               //...insert styles
            },

            label: {
               //...insert styles
            },
        },
    },
};
`

`
`

[2021-12-15 08:48] OleksandrFomin commented on #37
I managed to make it work in the following way

[code]

[code]

[2021-12-29 20:21] samhstein opened #38 "custom icon stroke width?"
hi,

is there a way to change the strokeWidth via the theme settings? using custom icons and would
like to make it 1px.

thanks, sam

const baseStyleIcon: SystemStyleObject = {
  strokeWidth: '2px',
};

[2021-12-30 06:08] jeanverster commented on #38
Hey @samhstein, yes this should be possible by providing custom styles for the `icon` part:

[code]

Let me know if you're still running into issues 👍🏼

[2021-12-30 07:05] samhstein commented on #38
hmm,

that smashes the green circle but doesnt change the strokeWidth of the MdIcon inside the circle...

thanks, sam

[2021-12-30 07:13] jeanverster commented on #38
@samhstein which icon lib are you using? I've just tried with `react-icons/fi` and seems to work as expected:
![image](https://user-images.githubusercontent.com/17738943/147729682-0c823031-2077-405b-8e48-12c39e57d6c3.png)

[2021-12-30 07:16] samhstein commented on #38
import { MdOutlineShoppingCart, MdOutlineLocalShipping, MdOutlineContentPaste, MdAttachFile } from 'react-icons/md';

<img width="619" alt="Screen Shot 2021-12-30 at 12 15 54 AM" src="https://user-images.githubusercontent.com/4429838/147729871-877c0949-718a-457a-a409-c1dd6a48789a.png">
<img width="617" alt="Screen Shot 2021-12-30 at 12 15 28 AM" src="https://user-images.githubusercontent.com/44298

[2022-01-05 09:08] anshuopinion opened #39 "Kindly Use Framer motion v5"

[2022-01-05 22:40] advatar opened #40 "Keep steps at top"
How can I go about to set things up so that the steps stay on top horizontally like

![image](https://user-images.githubusercontent.com/28670/148299747-bc2514f7-973d-46a0-b589-78d37af10b09.png)

instead of changing to vertical when narrow (mobile)

![image](https://user-images.githubusercontent.com/28670/148299825-2313b39c-2530-4f62-8c8b-51a706897575.png)

[2022-01-05 22:49] advatar commented on #40
nvm, found it
`responsive={false}   `

[2022-01-05 22:49] #40 closed

[2022-01-23 09:10] jeanverster commented on #38
Hi @samhstein - really sorry for the delayed reply, I had been on vacation and only getting back into things now. Could you try something like this:
[code]
I think the reason some of the styles were getting removed was because we werent spreading the original basestyles

[2022-01-23 19:00] jeanverster commented on #37
Closing this as unable to reproduce. Happy to re-open if someone can provide a codesandbox showing the issue 👍🏼

[2022-01-23 19:00] #37 closed

[2022-01-23 19:01] jeanverster commented on #38
Closing this for now, happy to re-open if the above doesn't solve your issue

[2022-01-23 19:01] #38 closed

[2022-01-23 19:19] jeanverster commented on #39
Released in v1.6.0

[2022-01-23 19:19] #39 closed

[2022-01-23 19:20] jeanverster commented on #21
This functionality has been added in version 1.6.0, you can now use the `labelOrientation` prop to create this effect

[2022-01-23 19:20] #21 closed

[2022-02-02 06:17] LitHaxor opened #45 "Cannot read properties of undefined (reading 'width') on Step component typescript"
To reproduce use nextjs 12.^

  <Step label={label} key={label}> // Trowing error
               {content}
  </Step>

[2022-02-02 10:14] jeanverster commented on #45
Hi, could you please provide a codesandbox which shows the relevant issue? I have just tried locally using a fresh install of nextjs 12 and I'm not running into any issues

[2022-02-02 17:44] LitHaxor commented on #45
Sorry, I forgot to extend the theme.

[2022-02-02 17:44] #45 closed

[2022-02-05 07:27] enestokol opened #46 "How to disable checkIcons"
Hello,
I want to show the number of that step instead of check icons in steps, how can I do that?

an example; (sorry my paint ability :) )
![customchakraui](https://user-images.githubusercontent.com/19312285/152632562-ba281df9-291e-4325-8631-62b87e704955.jpg)

[2022-02-09 16:15] jeanverster commented on #46
Hi @enestokol unfortunately this isn't possible at the moment, it shouldn't be too difficult to implement though - happy to accept PRs :) Otherwise I will try get around to maybe adding it soon!

[2022-02-13 14:49] cmolendijk commented on #36
No we use static site generation. But because we could not fix this we stopped using this stepper and made our own component.

[2022-02-14 06:24] houssem-yahiaoui opened #47 "is not assignable to type 'IntrinsicAttributes' Type issue"
Hello,

Somehow wierdly today i'm getting this error which was not from before :

[code]

This is my template
[code]

Does this make any sense?
Thank you very much in advance.

[2022-02-14 06:34] houssem-yahiaoui commented on #47
Can it be because of this :

[code]
As it seems it's not part of the defined props

[2022-02-14 06:36] houssem-yahiaoui commented on #47
Fixing it locally end up being working as expected, I might add a PR for this to speed things up

[2022-02-14 06:42] houssem-yahiaoui commented on #47
PR REF #48

[2022-02-21 12:25] siminn-asdisj opened #50 "Styling active label text"
Is it possible to change the color and font weight of the default numerical indicator that is **active**?

I'm trying to go from this:

<img width="587" alt="Screenshot 2022-02-21 at 12 21 30" src="https://user-images.githubusercontent.com/71439441/154954379-a2bcc525-ceac-4476-8781-710ceb8f4f8e.png">

To this:

<img width="593" alt="Screenshot 2022-02-21 at 12 19 15" src="https://user-images.githu

[2022-02-21 14:05] jeanverster commented on #50
Hey @siminn-asdisj you should be able to achieve this by styling the `span` element inside `stepIconContainer`:
[code]

[2022-02-23 15:52] #50 closed

[2022-03-03 07:12] zaherkassem opened #51 "the example code didn't work"
chakra-ui-steps.esm.js:310 Uncaught TypeError: Cannot read properties of undefined (reading 'width')
    at chakra-ui-steps.esm.js:310:1
    at renderWithHooks (react-dom.development.js:14985:1)
    at updateForwardRef (react-dom.development.js:17044:1)
    at beginWork (react-dom.development.js:19098:1)
    at HTMLUnknownElement.callCallback (react-dom.development.js:3945:1)
    at Object.invokeG

[2022-03-03 13:24] #51 closed

[2022-03-03 13:24] zaherkassem commented on #51
duplicate

[2022-03-06 19:06] annakaz commented on #37
@OleksandrFomin 's workaround worked for me as well using next js, otherwise I got the error `Cannot read properties of undefined (reading 'width')`. Maybe something finicky with the next js config

Did not work with this in components
<img width="758" alt="Screen Shot 2022-03-06 at 11 06 10 AM" src="https://user-images.githubusercontent.com/16907027/156938225-188e5a35-6019-4512-a657-8146f1c696b9.

[2022-03-06 20:10] jeanverster commented on #37
Hi @annakaz - the reason why the first screenshot did not work is because if you use the spread operator on the `Steps` variable, your `components` object would not contain a `Steps` key (which is what the theme is looking for). That also explains why the second one works, because you are adding a `Steps` key to the `components` object and assigning it to the value of `Stepper`.

It needs to look

[2022-03-15 15:03] frailbongat opened #52 "Can pass styling to step label and step description"

[2022-03-15 15:05] frailbongat commented on #52
@jeanverster what do you think of this? Would also love to work on it. I'm currently using this component Great job. This integrates well on chakra.

[2022-03-17 10:38] jeanverster commented on #52
Hey @frailbongat - this should already be possible, by styling the `label` and `description` parts.. See example:
[code]

[2022-03-17 10:41] frailbongat commented on #52
Nice, haven't seen a documentation for this. Cool if we add one?

[2022-03-17 10:42] jeanverster commented on #52
It is in the readme, but feel free to update / add anything if it's not clear :) Happy to accept PRs

[2022-03-17 12:13] #52 closed

[2022-03-17 23:30] dsva97 opened #53 "NextJS SSR TSX: TypeError: Cannot read properties of undefined (reading 'width')"
I'm trying to try the "Basic Example" (https://www.npmjs.com/package/chakra-ui-steps) on my Next Js + TS project , but got a compile error.

This is my /pages/_app.tsx

[code]

This is my StepsExample component
[code]

Context:

└─$ node -v
v17.7.1
└─$ yarn -v
1.22.17
└─$ npm -v
8.5.2

I'm using Next JS 12.1.0 with Typescript (yarn create next-app demo --typescript)
    "next": "12.1.0",
    "reac

[2022-03-18 02:36] JackNgWeiMing commented on #53
in `_app.tsx` ,  you need to pass the `theme` into `<ChakraProvider theme={theme}>`

[2022-03-18 07:03] Darwin97VA commented on #53
This is shameful. I can't believe that not even copying the code from _app.tsx did I realize that I didn't pass the "theme" property to ChakraProvider.

This issue is obviously already resolved, thank you very much for that. As I thought about how to hide this lapse from the internet and try to get on with my life it occurred to me that maybe something useful could be gleaned from this: the sugges

[2022-03-22 22:49] volkyeth opened #55 "Allow passing Elements as description to the Step"
The `<Step/>` `description` field is typed as `string | undefined`, but it actually works perfectly fine with React elements too. If the typing is updated this adds extra flexibility to the description field.

https://github.com/jeanverster/chakra-ui-steps/blob/b457fcf4075db4ff9e71b81ffa9572df9cb97f18/src/components/Step/index.tsx#L19

https://github.com/jeanverster/chakra-ui-steps/blob/b457fcf407

[2022-03-22 22:57] volkyeth opened #56 "Step connector is not responsive"
The step Connector breaks when the step title/label/description changes in size:
![image](https://user-images.githubusercontent.com/847070/159589726-e9c7b529-ea98-40c2-8c56-0329aaea11fe.png)

This makes it unusable with dynamic content unless you set a fixed `width` to the `Steps` component

[2022-03-23 10:58] jeanverster commented on #56
Thanks for pointing this out! I noticed this recently too and have been meaning to fix it 😅 Will try get around to it asap!

[2022-03-25 19:12] Zerbz opened #61 "Uncaught TypeError: stepIconContainer is undefined when creating a variant"
Hey!

I'm trying to create a custom variant and receive the following error.
![image](https://user-images.githubusercontent.com/28012494/160185952-6f2f4f28-d9b9-4eb3-b58d-c2d81de54bbf.png)

I'm adding the variant to the custom theme like this
![image](https://user-images.githubusercontent.com/28012494/160186114-7b756815-09a3-4514-8892-548a5b0d9490.png)

and here is CustomSteps
![image](https://use

[2022-04-13 03:47] tzarger commented on #53
@JackNgWeiMing Does this work with Chakra Pro Theme? I have the `_app.tsx` already with `<ChakraProvider theme={theme}>` but that is a Chakra Pro Theme...and I get this `width` error as well.

[2022-04-15 02:25] gersonmlb opened #64 "Uncaught TypeError: Cannot read properties of undefined (reading 'width') - With ViteJs and typescript"
Uncaught TypeError: Cannot read properties of undefined (reading 'width')
I'm working with ViteJs and Typescript
![image](https://user-images.githubusercontent.com/26355930/163507970-8d36c428-b0a9-4516-bc63-dff5dc635ba8.png)

This is my view.

[code]

[2022-04-15 08:22] jeanverster commented on #64
Hi @gersonmlb - the issue here is because you have renamed the expected key which the `extendTheme` function expects from `Steps` to `StepsTheme`, if you update it to look like this it should work
[code]

[2022-04-15 08:42] gersonmlb commented on #64
Yes, another possible quick fix for the problem is:

[code]

[2022-04-15 08:42] #64 closed

[2022-04-26 19:47] mikechabot opened #65 "Responsive breakpoint"
Hey, love this component. Would you be willing to accept a PR that lets the consumer adjust the responsive breakpoint?

[code]

https://github.com/jeanverster/chakra-ui-steps/blob/main/chakra-ui-steps/src/components/Steps/index.tsx#L65

I could see this a couple different ways:

### Explicit `mediaQuery` prop

[code]

### External `useMediaQuery` check

[code]

| 688px (< 43em) | 689px (> 43em) |

[2022-05-01 07:09] RS2007 opened #66 "React not defined in build while loading component with chakra-ui-steps"
- In my project, I have a button that opens a modal with chakra-ui steps
- Image shown below:
![image](https://user-images.githubusercontent.com/83483297/166135827-a407a2e4-ee54-431c-aaa7-8322f49c3ed5.png)
- This is from the development environment(vite)
- After building the app(vite build), when I try to access the modal(by clicking the button), i get this error:
![image](https://user-images.gith

[2022-05-03 07:03] angelhodar opened #67 "Cant install package"
Hey, I have started a new chakra ui project (it is 1.8.8 at the moment of writing) and npm gives me the following error:

[code]

[2022-05-03 08:10] jeanverster commented on #67
Hey! Thanks for pointing this out, it's likely I will need to update to framer motion v6, will see if I can get around to this today 👍

[2022-05-03 08:11] jeanverster commented on #66
Hi! Thanks for raising this. Any chance you could send a minimal reproduction that I could have a look at? Otherwise it's quite difficult for me to diagnose what's wrong

[2022-05-03 08:12] jeanverster commented on #65
Hey @mikechabot - I would definitely be happy to accept a PR which adds support for this! I was also thinking of trying to make the responsive logic ssr friendly, so if you're up to it that could be a nice addition too 😀  Just been super busy at work recently but will hopefully get some time to address the issues here asap

[2022-05-03 09:44] Kourin1996 commented on #67
@angelhodar FYI, you might want to downgrade framer-motion to v5 if you don't mind. My project can be built with the following the module versions.

[code]

[2022-05-03 09:53] angelhodar commented on #67
@jeanverster Thanks!!
@Kourin1996 Thanks for the tip! I can continue with other things until the package is uploaded so it isnt a problem for now.

[2022-05-03 15:39] RS2007 commented on #66
- You can clone this repo and try building it, thats where the error was popping up,
[repo](https://github.com/RS2007/SocialMediaApp)

- As for minimal reproduction, I guess try initialising a vite react app and then using chakra ui steps and then preview the build

[2022-05-06 07:35] jeanverster commented on #67
Hi @angelhodar can you try with the latest version (1.7.3) and let me know if it works :) Sorry for the delay!

[2022-06-03 03:34] MartinGiordano opened #72 "I can not set .chakra-collapse: overflow hidden to overflow unset."
Hey everyone, recently y was implementing this stepper and i came to a wall when y want to display a popover inside a vertical stepper.

There is a div with class of .chakra-collapse, that has a css overflow property set to hidden.

I'd tryed :
- To add custom styling to a Step component.
- Config a global object inside my theme stylesConfigs.
- Wrap the Step component on container with styled div

[2022-06-06 10:06] darmawan01 opened #73 "Module not found: Can't resolve '@chakra-ui/system'"
Got some error

<img width="457" alt="image" src="https://user-images.githubusercontent.com/23370707/172140523-56602eef-a65d-4b4c-8097-22346738067f.png">

maybe anyone has the same problem and already solve it.

[2022-06-07 10:29] pfedan commented on #73
I get a similar error:

--> can't resolve `useStyles` and `StylesProvider` imports from  `@chakra-ui/system` and `@chakra-ui/react `

[code]

[2022-06-07 10:47] pfedan opened #74 "Can't resolve `useStyles` and `StylesProvider` imports from `@chakra-ui/system` and `@chakra-ui/react `"
Out of the blue I get the following error:

[code]

I'm using

[code]

[2022-06-07 10:47] pfedan commented on #74
possibly linked with #73

[2022-06-07 13:57] yomansk8 commented on #74
Hey! I had the same issue today. It seems `@chakra-ui/system` introduced a regression where `useStyles` and `StylesProvider` where no longer exported from it.

They released a new version fixing it 2 hours ago.

Upgrading my version of `@chakra-ui/react` to v2.2.1 instead of v2.2.0 solved the issue for me!

Hope it can helps you too 😉

[2022-06-08 06:49] jeanverster commented on #74
Thanks @yomansk8 ! Appreciate the quick response here. I'm gonna close this in light of installing v2.2.1, let me know if the issue still persists 👌

[2022-06-08 06:49] #74 closed

[2022-06-08 06:51] jeanverster commented on #73
Hey @pfedan - turns out there was a regression in one of the recent chakra versions - apparently updating chakra to the latest version will resolve this issue. Closing for now, but let me know if you still run into issues

[2022-06-08 06:51] #73 closed

[2022-06-08 07:23] jeanverster commented on #72
Hi @MartinGiordano this seems to be from the default styles applied to the chakra `Collapse` component, which is being used in the vertical stepper. Can you provide a snippet of the code that's causing the issues? I just tried a simple example using a popover in a vertical step and it works as expected.

[2022-06-08 09:13] #53 closed

[2022-06-14 08:08] #72 closed

[2022-06-20 11:42] Rezaabdi78 commented on #56
Hi, I've also encountered this problem on my project.

My solution was to override the style of `connector` as described in [Custom Styles](https://github.com/jeanverster/chakra-ui-steps#custom-styles).

[code]
and in the application it looks to be working fine:

![image](https://user-images.githubusercontent.com/52544177/174594106-3bb833fc-063a-42bb-b83e-cbeb909b8997.png)

[2022-06-27 02:02] curdin opened #76 "Margins on connector incorrect"
I can reliably replicate this when using next.js (see https://codesandbox.io/s/patient-cdn-is6vgj?file=/pages/_app.js), but only sporadically when using vanilla react, (see https://codesandbox.io/s/chakra-ui-steps-s78fzp)

**Summary**

What happens is that the connector sometimes doesn't have the margins set correctly resulting in it overlapping the icon. Note the left and right margins in the fol

[2022-06-27 11:38] jeanverster commented on #76
Hey @curdin - thank you for pointing this out, I have been meaning to fix this for a while now, just haven't had a chance to look at it.. Hopefully soon! Will update here once fixed :)

[2022-07-07 20:44] curdin commented on #76
@jeanverster I had a go at fixing this behaviour in the above PR. It would certainly benefit from a thorough review by yourself :)

[2022-07-31 11:35] soheilhassanjani commented on #76
hi , anybody can fix it ?

[2022-08-03 01:25] marcos-bueno opened #79 "TypeError: Cannot read properties of undefined (reading 'width')"
[code]
<img src="https://tinypng.com/web/output/090tjx5mjutxut3115kg8n4bfr6w5guj/Captura%20de%20Tela%202022-08-02%20a%CC%80s%2022.48.32.png">
<img src="https://tinypng.com/web/output/b2fd8jqt6m0ub9rt4fmcv1t2k016vwz5/Captura%20de%20Tela%202022-08-02%20a%CC%80s%2023.06.43.png">

[2022-08-04 00:11] #79 closed

[2022-08-04 03:34] guanghw commented on #79
I have the same problem, how did you solve it please?

[2022-08-05 11:12] ablaszkiewicz opened #80 "Uncaught TypeError: Cannot read properties of undefined (reading 'width')"
Hi.

These are my dependencies:
[code]

I tried copying first code example from docs and it threw this error:
[code]

So I tried to strip it down to minimal code
[code]

And it still throws the same error. Not sure how beneficial this would be but it shows error here

![image](https://user-images.githubusercontent.com/54682207/183065720-f3fa05b0-7208-4ac3-ab5e-907b2463c607.png)

Any clue what is g

[2022-08-05 11:36] jeanverster commented on #80
Hi! This seems to be quite a common issue, think I will add a section in the readme around this.. But it's likely you forgot the extend the chakra theme with the `Steps` configuration:

[code]

[2022-08-05 12:26] ablaszkiewicz commented on #80
Thank you very much. I was about to change my profession to hair dresser.

[2022-08-09 15:33] #80 closed

[2022-08-12 04:18] curdin commented on #76
@jeanverster do you mind pushing a new release that includes the above pull request to npm. Easier to include than my fork and possibly useful to others until your css rewrite is complete

[2022-08-12 06:59] jeanverster commented on #76
Hey @curdin apologies about not releasing this sooner - work has been super busy recently and I haven't had much time to look into this.. I will push a release with your changes now 👍

[2022-08-12 07:32] #76 closed

[2022-08-17 15:35] tiganabryan opened #84 "Contents is not defined"
# Error: Cannot find name 'Contents'

## When the first example on https://jeanverster.github.io/chakra-ui-steps-site/ is rendered, there's an error saying "Contents is not defined". The component 'Contents' isn't declared, where is it being rendered from in the example?

## Reproduction: https://codesandbox.io/s/still-hooks-vc25zs?file=/src/Horizontal.tsx

<img src="https://i.imgur.com/W9aGmdU.pn

[2022-08-18 07:47] jeanverster commented on #84
Hey @tiganabryan sorry if the examples aren't super clear, but the `<Content />` component is actually just a placeholder for whatever you would want to render inside the steps :) For example you could do something like this:
[code]
I realise this is maybe a bit confusing so I think I will actually update these examples to be a bit more clear

[2022-08-18 11:40] tiganabryan commented on #84
Oh ok thanks for clarifying. The stepper is really smooth and seamless, you did a great job.

[2022-08-20 07:19] amirkh330 opened #85 "has problem in rtl mode"
hello
when you use RTL direction ,make problem in styling each line between steps,
and we can not edit connector `s styling in responsive beceause you use position absolute

[2022-08-22 13:17] yash14022001 opened #86 "How can I style the current active step's label?"
Hey, first of all great stepper, kudos to the development team

[2022-09-12 14:59] denysoleksiienko opened #88 "How to disable collapsing"
Hello,
I want always to show the contents in all steps. Is it possible to disable collapsing?

[2022-10-06 07:24] branislaav opened #90 "Custom error icon"
I would like to pass a custom error icon to Steps component same way that you can pass a custom check icon through `checkIcon` prop. I can make PR for that if it is okay.

[2022-10-11 16:21] tejans24 opened #91 "Upgrade to react 18 and Charka v2"
Hi @jeanverster or anyone else, have you tried upgrading React and Charka to newer versions?

[2022-10-13 08:26] jeanverster commented on #91
Hi @tejans24 I'm currently working on v2 of this component which will include react 18 & chakra 2 support amongst other things.. I'm almost done, should hopefully have it done this weekend sometime!

[2022-10-13 12:50] tejans24 commented on #91
Great thanks @jeanverster. Looking forward to seeing that PR soon!

[2022-10-17 15:18] balu9230 opened #92 "Bug fix reqd: Cannot read properties of undefined (reading 'width') at chakra-ui-steps.es.js:315:25"
Hi,

I'm sharing a link to a public repo that I created to recreate the issue using the latest version of chakra-ui-steps:
https://github.com/balu9230/issue-chakra-ui-steps
Kindly clone it and read the README file for further details.

Due to this error, the page is, of course, not rendering.

I've used the same example code snippet that you have mentioned on the main repo of chakra-ui-steps insid

[2022-10-18 08:33] moosefaceee commented on #90
Hi @branislaav & @jeanverster

Implemented the above in the PR mentioned 👆🏼 #hacktoberfest

[2022-10-19 19:39] devlukedreamstage opened #94 "Getting: ContextError: useStyles: `styles` is undefined. Seems you forgot to wrap the components in `<StylesProvider />`"
Hi,

I'm trying to export a component using the stepper using the example and following the instructions, but I'm getting this error. I added steps to the theme as well. The component and my chakraprovider are apart of a monorepo they are being exported from if that could a potential cause.

[2022-10-20 23:17] wub commented on #94
Hey @devlukedreamstage I experienced this issue with `@chakra-ui/react` v2.3.6, using v2.3.5 works for me.

[2022-10-22 06:05] omoriyasuo commented on #92
Hi, I'm getting this error too.
Is there any solution to this?

environment:
- `vite: 2.9.15`
- `typescript: 4.6.3`
- `@chakra-ui/react: 11.9.3`

[2022-10-22 07:07] omoriyasuo commented on #92
Ah..., I'm guessing it's because we're using `@chakra-ui/react 2.x.x.`

I tried downgrading @chakra-ui/react: 1.8.8, then it was fine.

[2022-10-22 07:43] balu9230 commented on #92
Hey @omoriyasuo, no, I tried lowering `@chakra-ui/react` down to 1.8.8 (from 2.3.4), didn't work for me. :(

A few questions for you, if you don't mind:
1. Is 1.8.8 the latest version of `@chakra-ui/react` for which `chakra-ui-steps` would work for you?
2. How would you go about identifying the latest version that you can make do with? Did you try every version number in descending order tediously

[2022-10-23 12:58] projectsbydan opened #95 "Clicking anywhere inside the step contents triggers onClickStep"
When using the onClickStep prop, the user can no longer interact with the contents without triggering the function.

For example, clicking on prev/next Buttons that are inside the step, triggers the onClickStep and prevents navigation.

Ideally, this would only be triggered when clicking on the step label or icon.

Is there any way to trigger navigation when clicking on the label?
The styling seem

[2022-10-23 13:03] projectsbydan commented on #95
I managed to trick it by adding a container for the contents of the step, with an onClick={(e) => e.stopPropagation()} prop on it.

[2022-10-23 13:03] #95 closed

[2022-10-29 18:33] LeonAlvarez commented on #91
Any update?

[2022-10-30 18:19] Martinnord commented on #92
Getting this error on,
* `"@chakra-ui/react": "^2.2.4"`
* `"react": "18.2.0"`

[2022-10-30 22:36] Martinnord commented on #92
Forgot to post this, but remember adding this to your project,
[code]
As the documentation says. It will solve this issue.

[2022-10-31 11:41] WarriorCodeDev commented on #91
Hi @jeanverster any update on this issue?

[2022-11-03 17:04] balu9230 commented on #92
Hi @Martinnord, yes, thanks. Your comment prompted me to look more closely at this and I realized that the issue was because I had wrapped that theme object with an extra set of curly braces.

This was the faulty code:
`import { ChakraProvider, extendTheme } from "@chakra-ui/react"
import { StepsStyleConfig as Steps } from 'chakra-ui-steps'

const utmfTheme = {
	components: {
		Steps,
	}
}

const

[2022-11-03 17:04] #92 closed

[2022-11-21 07:47] garrylachman commented on #91
have fun :)
https://github.com/jeanverster/chakra-ui-steps/pull/96

[2022-11-21 19:27] pauloreis7 opened #97 "Add hide steps option"
### I would like to use the component and its logic, but hide the steps. Is it possible?
Ex: visibleSteps: @defautl true // if false hide te steps circles

I believe I have come up with an interesting solution for this, let me know if it is something welcome for a PR about it

[2022-11-22 10:27] jeanverster commented on #97
Hi @pauloreis7 I'm not too sure what you mean? So you want to hide the actual circles at the top? It would be fairly trivial to implement the logic without actually having the steps ui at the top.. Not sure if it would be worth adding such functionality to this component 🤷‍♂️

[2022-11-22 18:49] pauloreis7 commented on #97
- So you want to hide the actual circles at the top?. Yes, I would like to use the steps logic in a form, but without the circles.
- I got a clean soluction in my app, just hidding the li tags inside the steps ul tag with css.
This is an example of a bitcoin marketplace that uses the steps logic without the circles:
!image](https://user-images.githubusercontent.com/63323224/203395507-f680aded-ba0b

[2022-11-29 13:40] winnekes opened #98 "Vertical orientation: if onClickStep is set nextStep and prevStep don't seem to work"
In vertical orientation _either_ `nextStep/prevStep/setStep` works as intended OR `onClickStep`.
When `onClickStep` is set, I cannot control the wizard's active step via a button click for example.

[code]

When I set the orientation to 'horizontal' it works as intended.